<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建文章</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/static/bitbug_favicon.ico">

</head>
<body>
<div class="header">

</div>
<div class="content">
    <form action="" method="post">
        {% csrf_token %}
        <div class="title">
            标题： <input type="text" name="title">
        </div>
        <div>
            内容：<br>
            <textarea name="article_con" id="article_box" cols="30" rows="10"></textarea>
        </div>
        <input type="submit">
    </form>
</div>

<script src="/static/jquery-3.1.1.js"></script>
<script src="/static/blog/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="/static/blog/kindeditor/lang/zh-CN.js"></script>
<script src="/static/blog/js/add_article.js"></script>

</body>
</html>