<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/my_style.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
{#    <link rel="stylesheet" href="/static/theme/{{ blog.theme }}">#}
    <!-- 加上下面的语句就可以适配移动端，否则不适配，会出现错乱或者滚动条 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/bitbug_favicon.ico">
</head>
<body>

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog/">The blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog/">首页</a></li>
                <li><a class="add_a" href="/backend/add_article">添加文章</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="/weather">查看天气</a></li>

                {#  判断是否有用户名，为登陆为匿名用户，相当于用户名为空 #}
                {#  如果有用户已经登录，则显示用户名及个人中心，否则显示登录注册按钮 #}
                {% if request.user.username %}
{#                    <li><a href="#">{{ request.user.username }}</a></li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/blog/{{ request.user.username }}/">我的博客</a></li>
                            <li><a href="#">设置</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

<div class="header">
    <p>{{ blog.title }}</p>
</div>

<div class="container">
    <div class="col-md-3">

        {% load my_tags %}
        <!-- 加载 自定义的 template_tag  -->

        {% get_left_menu username %}
        <!-- 调用 my_tags 中的 get_left_menu 方法，把 left_menu 中的代码贴到这里来  -->
        <!-- 需要视图函数传一个 username 参数 -->

    </div>


    <div class="col-md-8">
        {% block page-main %}

        {% endblock %}

    </div>

</div>


<script src="/static/jquery-3.1.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


</body>
</html>