<!-- 文章分类 -->
{% if category_list %}
    <div class="panel panel-primary">
        <div class="panel-heading">文章分类</div>
        <div class="panel-body">
            {% for category in category_list %}
                <p><a href="/blog/{{ user.username }}/cate/{{ category.title }}/">{{ category.title }}({{ category.c }})</a></p>
            {% endfor %}
        </div>
    </div>
{% endif %}


<!-- 标签分类 -->
{% if tag_list %}
    <div class="panel panel-warning">
        <div class="panel-heading">标签分类</div>
        <div class="panel-body">
            {% for tag in tag_list %}
                <p><a href="/blog/{{ user.username }}/tag/{{ tag.title }}/">{{ tag.title }}({{ tag.c }})</a></p>
            {% endfor %}

        </div>
    </div>
{% endif %}


<!-- 日期分类 -->
{% if archive_list %}
    <div class="panel panel-info">
        <div class="panel-heading">日期归档</div>
        <div class="panel-body">
            {% for archive in archive_list %}
                <p><a href="/blog/{{ user.username }}/archive/{{ archive.archove_ym }}/">{{ archive.archove_ym }}({{ archive.c }})</a></p>
            {% endfor %}

        </div>
    </div>
{% endif %}


