<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- 加上下面的语句就可以适配移动端，否则不适配，会出现错乱或者滚动条 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>

<button class="btn btn-warning"><a href="/blog/">博客系统</a></button>
<button class="btn btn-info"><a href="/testcase/">测试平台</a></button>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/blog/" class="thumbnail">
            <img src="/media/avatars/tt.png" alt="...">
            <p style="text-align: center">博客系统</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/testcase/" class="thumbnail">
            <img src="/media/avatars/tt.png" alt="...">
            <p style="text-align: center">测试平台</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="/media/avatars/tt.png" alt="...">
        </a>
    </div>
</div>

<script src="/static/jquery-3.1.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>

</script>

</body>
</html>