<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 加上下面的语句就可以适配移动端，否则不适配，会出现错乱或者滚动条 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>

<div class="container" style="text-align: left">
    <div class="tips">发票抬头：西安XX科技有限公司</div>
    <hr>
    <div class="address">邮寄地址：陕西西安市文阳科技.....</div>
    <hr>
    <div class="money">消费金额：1212.12</div>
    <hr>
    <div class="username">联系人：张三李四</div>
    <hr>
    <div class="phone">联系人电话：13927751499</div>
    <hr>
</div>

<div class="cl2">
    <input type="button" class="clickFor" value="点我看大片" >
</div>
<div class="swal">
    <input type="button" class="swal" value="查看发票详情">
</div>

<script src="../static/jquery-3.1.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>#}
<script>
    $(".clickFor").on("click",function (id) {
        swal({
          title:"",
          text:"确定删除吗？",
          type:"warning",
          showCancelButton:"true",
          showConfirmButton:"true",
          confirmButtonText:"确定",
          cancelButtonText:"取消",
          animation:"slide-from-top"
        }, function() {

        $.ajax({
            type:"post",
            url:serverAddress,
            traditional: true,
            dataType:"json",
            data:{"id":ids}
        }).done(function(data) {
               swal("操作成功!", "已成功删除数据！", "success");
               getMyArtic();
            }).error(function(data) {
               swal("OMG", "删除操作失败了!", "error");
            });
      });
    });

    $(".swal").on("click", function () {
         swal({
            title:"发票详情",
            text:"<div class=\"container\" style=\"text-align: left\">\n" +
                "    <div class=\"tips\">发票抬头：西安XX科技有限公司</div>\n" +
                "    <hr>\n" +
                "    <div class=\"address\">邮寄地址：陕西西安市文阳科技.....</div>\n" +
                "    <hr>\n" +
                "    <div class=\"money\">消费金额：1212.12</div>\n" +
                "    <hr>\n" +
                "    <div class=\"username\">联系人：张三李四</div>\n" +
                "    <hr>\n" +
                "    <div class=\"phone\">联系人电话：13927751499</div>\n" +
                "    <hr>\n" +
                "</div>",
            type:"",
            showCancelButton:"true",
            showConfirmButton:"true",
            confirmButtonText:"确定",
            cancelButtonText:"取消",
            animation:"slide-from-top",
            html:"true"})
    })
</script>

</body>
</html>
